.add-template-button {
    
    &__button {
        width: 100%;
        background-color: var(--sidebar-primary);
        color: var(--sidebar-primary-foreground);
        &:hover {
            background-color: color-mix(in srgb, var(--sidebar-primary) 90%, transparent);
        }
        &__icon {
            width: 8px;
            height: 8px;
            margin-right: 4px;
        }
    }
    &__dialog {
        &__content {
            padding: 8px 0;
            &__input {
                margin-top: 8px;
            }
        }
    }
}