.header {
    padding: 12px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: hsla(225, 20%, 96%,1);
    &__generate-planner-button {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        background: hsla(225, 20%, 100%,0.7);
        border-radius: 8px;
        transition: 200ms ease;
        cursor: pointer;
        &:hover {
            background: hsla(225, 20%, 100%,1);
        }
    }
}