.field-type-selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__button {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 200ms ease;
    &:hover {
        opacity: 0.8;
    }

    &__icon-wrapper {
        padding: 8px;
        border-radius: 8px;
    }

    &__icon {
        height: 20px;
        width: 20px;
    }

    &__indicator {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: 200ms ease;
        &--visible {
            opacity: 1;
        }
    }
  }
}