.field-type-selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
  &__button {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 200ms ease;
    &:hover {
        opacity: 0.8;
    }

    &__icon-wrapper {
        padding: 4px 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        white-space: nowrap;
    }

    &__icon {
        font-weight: 700;
        font-size: 16px;
    }
}
}