.field-type-selector {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__button {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 200ms ease;
    &:hover {
        opacity: 0.8;
    }

    &__icon-wrapper {
        padding: 4px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    &__icon {
        font-weight: 700;
        font-size: 16px;
    }

    &__indicator {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        opacity: 0;
        transition: 200ms ease;
        &--visible {
            opacity: 1;
        }
    }
  }
}